#Ignorar os pastas com o dataset
#mamiraua/

#Ignorar o ambiente virtual
env/

# Ignorar o diretório de segredos do Streamlit
/.streamlit/secrets.toml

# Ignorar ambientes virtuais do Python
.venv/
venv/
*.venv

# Ignorar caches do Python
__pycache__/
*.pyc